@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text";
}

body {
  height: 100vh;
  background-color: #261a2d;
  background-image: url(./images/bg-stars.svg);
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
