@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text";
}

body {
  height: 100vh;
  /* background: linear-gradient(
    180deg,
    #1d1e28 0.12%,
    #261c2d 94.84%,
    #261a2d 100%
  ); */
  background-color: #261a2d;
  background-image: url(./images/bg-stars.svg);
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 54px;
}

h1 {
  font-size: 18px;
  letter-spacing: 6.14px;
  text-align: center;
  color: #fff;
  margin: 142px 24px 0 24px;
}

main {
  display: flex;
  gap: 16px;
  margin: 0 24px 0 24px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.top-div {
  width: 70px;
  height: 33px;
  opacity: 0.15;
  border-radius: 4px;
  background-color: #000000;
}

.middle-div {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 30px;
  left: -1.5px;
  gap: 31px;
}

.circle {
  background-color: #191a23;
  width: 6px;
  height: 6px;
  border-radius: 15px;
}

.bottom-div {
  width: 70px;
  height: 33px;
  border-radius: 4px;
  background-color: #343650;
}

.text {
  font-size: 7px;
  font-weight: bold;
  letter-spacing: 2.96px;
  color: #8385a9;
}

footer {
  width: 100%;
  height: 168px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-image: url(./images/pattern-hills.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.icons {
  cursor: pointer;
}

.icons:hover {
  color: pink;
}
